h1 {
  text-align: center;
  color: white;
  background-color: black;
  width: 100%;
  margin: 0;
  height: 50px;
  position: fixed;
  top: 0;
  z-index: 1;
}


#nextBtn {
  background-color: white;
  border: none;
  color: black;
  padding: 12px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin-bottom: 5%;
  margin-top: 5px;
  position: absolute;
  right: 10px;
}

#getHintBtn {
  background-color: white;
  border: none;
  color: black;
  padding: 12px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin-bottom: 5%;
  margin-top: 5px;
  position: absolute;
  right: 150px;
}